<!DOCTYPE html>
<html>
<head>
	<title>Crud Application using Vue js. with PHP & MySQL</title>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<style>
	#modal{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgb(0,0,0,0.6);
	}
</style>
<body>
<div id="app">
	<div class="container-fluid">
		<div class="row bg-dark">
			<div class="col-lg-12">
				<p class="text-center text-light pt-2 display-4" style="font-size: 30px;">Crud Application using Vue js. with PHP & MySQL</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row pt-3">
			<div class="col-lg-6">
				<h1 class="btn btn-info">List of User</h1>
			</div>

			<div class="col-lg-6">
				<button class="btn btn-warning float-right" @click="addUser=true;" >Add user</button>
			</div>
		</div>
		<hr class="bg-dark">
		<div class="alert alert-danger" v-if = "errorMsg">
			{{errorMsg}}
		</div>
		<div class="alert alert-success" v-if="successMsg">
			{{successMsg}}
		</div>

	  <table class="table table-bordered table-striped">
	  	<thead>
	  		<tr class="text-light text-center bg-primary">
	  			<th>ID</th>
	  			<th>Name</th>
	  			<th>Email</th>
	  			<th>Phone</th>
	  			<th>Edit</th>
	  			<th>Delete</th>
	  		</tr>
	  	</thead>
	  	<tbody>
	  		<tr class="text-center" v-for="user in users" >
	  			<td>{{user.id}}</td>
	  			<td>{{user.name}}</td>
	  			<td>{{user.email}}</td>
	  			<td>{{user.phone}}</td>
	  			<td><a href="#" @click="editUser = true; selectUser(user);" ><i class="fa fa-edit"></i></a></td>
	  			<td><a href="#" @click="deleteUser = true; selectUser(user);"><i class="fa fa-trash"></i></a></td>
	  		</tr>
	  	</tbody>
	  </table>	
	</div>

<!-- Add User -->
 <div id="modal" v-if="addUser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add User</h5>
        <button type="button" @click="addUser=false;" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-group" action="#" method="post">
        	<div class="form-group">
        		<input type="text" name="name" class="form-control form-control-lg" placeholder="Name" v-model="newUser.name">
        	</div>
        	<div class="form-group">
        		<input type="email" name="email" class="form-control form-control-lg" placeholder="Email" v-model="newUser.email">
        	</div>
        	<div class="form-group">
        		<input type="tel" name="phone" class="form-control form-control-lg" placeholder="phone" v-model="newUser.phone">
        	</div>

        <div class="form-group">
        <button type="button" class="btn btn-primary" @click="addUser=false; addNewUser();">Add user</button>
         </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Edit User -->
 <div id="modal" v-if="editUser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update User</h5>
        <button type="button" @click="editUser=false;" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-group" action="#" method="post">
        	<div class="form-group">
        		<input type="text" name="name" class="form-control form-control-lg" v-model="currentUser.name">
        	</div>
        	<div class="form-group">
        		<input type="email" name="email" class="form-control form-control-lg" v-model="currentUser.email">
        	</div>
        	<div class="form-group">
        		<input type="tel" name="phone" class="form-control form-control-lg" v-model="currentUser.phone">
        	</div>

        <div class="form-group">
        <button type="button" class="btn btn-primary" @click="editUser=false; updateUser();">Update</button>
         </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- Delete User -->

 <div id="modal" v-if="deleteUser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete User</h5>
        <button type="button" @click="deleteUser=false;" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <h2 class="text-warning" >Are you sure want to delete this user?</h2>
         <h2 class="text-danger">You deleting {{currentUser.name}}</h2>
         <a href="" class="btn btn-danger btn-lg" @click="deleteUser=false; delete_User();">Yes</a>
         <a href="" class="btn btn-success btn-lg">No</a>
      </div>     
    </div>
  </div>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
 var app = new Vue({
     el:"#app",
     data:{
     errorMsg:"",
     successMsg:"",
     addUser:false,
     editUser:false,
     deleteUser:false,
     users:[],
     newUser:{name:"",email:"",phone:""},
     currentUser:{}
    },
     mounted:function(){
     this.getAllUsers();
     },
     methods:{

      //read use
     getAllUsers(){
        axios.get("http://localhost/vue_crud_php/process.php?id=read").then(function(response){
        if (response.data.error) {
          app.errorMsg = response.data.message;
        }else{
          app.users = response.data.users;
        }
        });
      },

      //Add user

      addNewUser(){
        var formData = app.toFormData(app.newUser);
        axios.post("http://localhost/vue_crud_php/process.php?id=create",formData).then(function(response){
        app.newUser = {name:"",email:"",phone:""};  
        if (response.data.error) {
          app.errorMsg = response.data.message;
        }else{
          app.successMsg = response.data.message;
          app.getAllUsers();
        }
        });
        },

        //update user

        updateUser(){
        var formData = app.toFormData(app.currentUser);
        axios.post("http://localhost/vue_crud_php/process.php?id=update",formData).then(function(response){
        app.currentUser = {};
        if (response.data.error) {
          app.errorMsg = response.data.message;
        }else{
          app.successMsg = response.data.message;
          app.getAllUsers();
        }
        });
        },

        //delete user
        delete_User(){
        var formData = app.toFormData(app.currentUser);
        axios.post("http://localhost/vue_crud_php/process.php?id=delete",formData).then(function(response){
        app.currentUser = {};
        if (response.data.error) {
          app.errorMsg = response.data.message;
        }else{
          app.successMsg = response.data.message;
          app.getAllUsers();
        }
        });
        },

  
        toFormData(obj){
        var fd = new FormData();
        for(i in obj){
          fd.append(i,obj[i]);
        }
        return fd;
      },
      
       selectUser(user){
       app.currentUser = user; 
      }   
    }
 });
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>